<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>reaction.lol</title>
<meta property="og:title" content="Reaction Image API">
<meta property="og:description" content="Get one of {{ imagecount }} reaction images instantly!">
<meta property="og:type" content="article">
<meta property="og:image" content="/images/rlimage_jsnhdORSWpnOUOHcuP.png">
<meta property="og:site_name" content="reaction.lol">
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body>
<div class="container text-center" style="margin-top: 10%;">
  <h1 class="display-1">Reaction.Lol</h1>
  <h1 class="display-3">Reaction Image API</h1>
  <h1 class="display-4" style="font-size: 150%;">(API usage is in the README.md on GitHub)</h1>
  <a href="https://reactionlol.zerointensity.repl.co/tryit" class="btn btn-outline-success btn-lg" role="button">Try it out!</a>

<a href="https://github.com/ZeroIntensity/reaction.lol" class="btn btn-lg btn-outline-primary" role="button">GitHub</a>
</div>



  </body>
</html>