<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>reaction.lol</title>
<meta property="og:title" content="Reaction Image API">
<meta property="og:description" content="Get one of {{ imagecount }} reaction images instantly!">
<meta property="og:type" content="article">
<meta property="og:image" content="/images/rlimage_jsnhdORSWpnOUOHcuP.png">
<meta property="og:site_name" content="reaction.lol">
  </head>
  <body>
    <style>
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);



body {
  font-family: "Bebas Neue", sans-serif;
  height: 100%;
  background-image: url('/static/finding.jpg');
  background-size: cover;
}
      </style>
    <center>
<h1 style="color: #fff; font-size: 120px; text-shadow: 0px 0px 10px #000;">REACTION.LOL</h1>
<h1 style="color: #fff; font-size: 80px; text-shadow: 0px 0px 10px #000;">Reaction Image API</h1>

<a href="https://github.com/ZeroIntensity/reaction.lol" style="font-size: 80px; text-shadow: 0px 0px 10px #000;">GitHub</a>
    </center>
  </body>
</html>