<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Submit - reaction.lol</title>
<meta property="og:title" content="Reaction Image API">
<meta property="og:description" content="Get one of {{ imagecount }} reaction images instantly!">
<meta property="og:type" content="article">
<meta property="og:image" content="images/rlimage_jsnhdORSWpnOUOHcuP.png">
<meta property="og:site_name" content="reaction.lol">
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="static/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body>
<div class="container text-center" style="margin-top: 5%;">
<div class="alert alert-danger alert-dismissible">
  <strong>Failed!</strong> Your request was invalid
</div>
  <h1 class="display-3">Submit Image</h1>
  <h1 class="display-4" style="font-size: 150%">Request an image to be added to the API</h1>

<a style="margin-top: 1%;" href="https://reaction.lol" class="btn btn-lg btn-outline-success" role="button">Go Back Home</a>

<div class="form-group display-4" style="margin-top: 3%; font-size: 250%;">
  <label for="imgurl">Image Link: </label>
  <form action="/submiturl" method = "POST"><input name = "imgurl" type="text" placeholder="example.com/img..." class="form-control" id="imgurl" required>
  <button type="submit" class="btn btn-primary">Submit</button></form>
</div>
</div>
  </body>
</html>
