<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TryIt - reaction.lol</title>
<meta property="og:title" content="Reaction Image API">
<meta property="og:description" content="Get one of {{ imagecount }} reaction images instantly!">
<meta property="og:type" content="article">
<meta property="og:image" content="images/rlimage_jsnhdORSWpnOUOHcuP.png">
<meta property="og:site_name" content="reaction.lol">
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="static/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body>
<div class="container text-center" style="margin-top: 10%">
<a style="margin-top: 1%;" href="javascript:window.location.reload();" class="btn btn-lg btn-outline-primary" role="button">Get Another!</a>
</div>
<div class="container text-center" style="margin-top: 0.5%">
<img src="{{ img }}" class="rounded img-fluid" style="max-width: 50%;">
</div>
<div class="container text-center" style="margin-top: 0.5%">
<a style="margin-top: 1%;" href="https://reaction.lol" class="btn btn-lg btn-outline-success" role="button">Go Back Home</a>
  </body>
</html>